*
!README.md
!LICENSE
!Makefile
!/.gitignore
!build.sh
!docs/
!docs/**
!tools/
!tools/installer/
!tools/installer/Makefile
!tools/installer/*.c
!tools/installer/*.h
!tools/installer/tests/
!tools/installer/tests/*.c
!tools/syspckg
!tools/syspckg/main.c
!tools/syspckg/tests/
!tools/syspckg/tests/update_*.sh
tools/installer/installer
tools/installer/*.o
tools/installer/tests/*.o
tools/installer/tests/test_helpers
!filesforlinux/
!filesforlinux/**
