*
!README.md
!LICENSE
!Makefile
!/.gitignore
!build.sh
!docs/
!docs/**
!tools/
!tools/installer/
!tools/installer/Makefile
!tools/installer/*.c
!tools/installer/*.h
!tools/installer/tests/
!tools/installer/tests/*.c
!tools/syspckg/
!tools/syspckg/**
tools/syspckg/syspckg
!tools/syspckg-old/
!tools/syspckg-old/**
tools/syspckg-old/syspckg
!tests/
!tests/**
!desktop/
!desktop/**
desktop/build/
desktop/out/
tools/installer/installer
tools/installer/*.o
tools/installer/tests/*.o
tools/installer/tests/test_helpers
!filesforlinux/
!filesforlinux/**

# Generated SystemPackager binary copied by make tools
filesforlinux/rootfs/usr/bin/syspckg
