CONFIG_EXT2_FS=y
CONFIG_PATA_ATIIXP=y
CONFIG_VT=y
CONFIG_TTY=y
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_BOCHS=y
CONFIG_FB_VESA=y
# Disable VMware/Hyper-V guest modules to avoid vmw_vmci/vmbus warnings
CONFIG_VMWARE_VMCI=n
CONFIG_HYPERV=n
CONFIG_HYPERVISOR_GUEST=n
